@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

body{
  box-sizing: border-box;
  overflow-x: hidden;
}

html[lang="ar"] {
  direction: rtl;
  text-align: right;
}

html[lang="en"] {
  direction: ltr;
  text-align: left;
}


@theme {
  --color-main: #6E5034;
  --color-normal: #CDB885;
  --color-light: #EFE1B5;
}
@layer utilities {
  .thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-normal) transparent;
  }

  .thin-scrollbar::-webkit-scrollbar {
    height: 3px;
    width: 4px;
  }

  .thin-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-normal);
    border-radius: 9999px;
  }

  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-light);
  }
  .input {
    @apply w-full border border-gray-300 rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-black;
  }
}



