@import "tailwindcss";

body{
  box-sizing: border-box;
  overflow-x: hidden;
}

html[lang="ar"] {
  direction: rtl;
  text-align: right;
}

html[lang="en"] {
  direction: ltr;
  text-align: left;
}

.navLink {
  color: rgb(255 255 255);
  mix-blend-mode: difference;
}

@theme {
  ---color-main: #6E5034;
  --color-normal: #CDB885;
  --color-light: #EFE1B5;
}